$tooltip-color: #616161;
$tooltip-height: 16px;
$tooltip-margin: 16px;
$tooltip-max-width: 380px;
$tooltip-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
$tooltip-delay: 0.5s;

.tooltip {
    position: absolute;
    z-index: 100;
    left: 50%;

    max-width: $tooltip-max-width;
    height: $tooltip-height;
    margin: $tooltip-margin auto;
    padding: 8px 12px;

    transition: opacity 0.2s ease, transform 0.2s $m-ease-in;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    white-space: nowrap;
    pointer-events: none;

    opacity: 0;
    color: $foreground-color;
    border-radius: $border-radius;
    background-color: $tooltip-color;
    box-shadow: $tooltip-shadow;

    font-family: "Font-Main";
    font-size: 14px;
}

.btn-toolbar,
.btn-fab,
.btn-icon {
    &.tooltip-hover .tooltip {
        transition: opacity 0.2s ease $tooltip-delay, transform 0.2s $m-ease-out $tooltip-delay;

        opacity: 1;
    }
}

.btn-toolbar,
.btn-icon {
    &.tooltip-hover .tooltip {
        transform: translateY($tooltip-margin) translateX(-50%);

        &.tooltip-right {
            transform: translateY($tooltip-margin) translateX(0%);
        }

        &.tooltip-left {
            transform: translateY($tooltip-margin) translateX(-100%);
        }
    }

    .tooltip {
        transform: translateX(-50%);

        &.tooltip-right {
            left: 10%;

            transform: none;
        }

        &.tooltip-left {
            left: 90%;

            transform: translateX(-100%);
        }
    }
}

.btn-fab {
    &.tooltip-hover .tooltip {
        transform: none;

        &.tooltip-left {
            transform: translateX(calc(-100% - #{$tooltip-margin}));
        }

        &.tooltip-right {
            transform: translateX(calc(100% + #{$tooltip-margin}));
        }
    }

    .tooltip {
        top: 0;
        bottom: 0;

        margin: auto;

        transform: translateX(0%);

        &.tooltip-left {
            left: 0;

            transform: translateX(-100%);
        }

        &.tooltip-right {
            left: 0;

            transform: translateX(100%);
        }
    }
}
