@font-face {
    font-family: "Material Icons";
    font-weight: 400;
    font-style: normal;

    src: url("../fonts/MaterialIcons-Regular.eot");
    src: local("Material Icons"), local("MaterialIcons-Regular"), url("../fonts/MaterialIcons-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Kingdom Icons";
    font-weight: normal;
    font-style: normal;

    src: url("../fonts/KingdomIcons.ttf") format("truetype");
}

.material-icons {
    font-family: "Material Icons";
}

.kingdom-icons {
    font-family: "Kingdom Icons";
}

.material-icons,
.kingdom-icons {
    /* Preferred icon size */
    display: inline-block;

    white-space: nowrap;
    letter-spacing: normal;
    text-transform: none;
    word-wrap: normal;

    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;

    direction: ltr;

/* Support for IE. */
    font-feature-settings: "liga";

/* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;

/* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

/* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
}
